.singlePost{
    flex: 9;
}
.singlePostWrapper{
    padding: 20px;
    padding-right: 0;
}
.singlePostImage{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;

}
.singlePostTitle{
    text-align: center;
    margin: 10px;
    font-family: 'Varela',serif;
    font-weight: 12px;
    font-size: 28px;

}
.singlePostEdit{
    float: right;
    font-size: 16;
}
.singlePostIcon{
    margin-right: 10px;
    cursor: pointer;
}
.singlePostIcon:first-child{
    color: teal;
}
.singlePostIcon:last-child{
    color: tomato;
}
.singlePostInfo{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    color: #b39659;
    font-family: 'Varela Round',sans-serif;
}
.singlePostDesc{
    color: #666;
    font-size: 18px;
    line-height: 25px;
}
.singlePostDesc::first-letter{
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
}